/*********************************
16. Newsletter
*********************************/

.newsletter
{
    width: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding-top: 50px;
    padding-bottom: 50px;

}
.newsletter_container
{
    width: 100%;
}
.newsletter_title_container
{
    width: 40%;
    padding-left: 95px;
}
.newsletter_icon
{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}
.newsletter_title
{
    font-size: 18px;
    color: #000000;
}
.newsletter_text p:last-child
{
    margin-bottom: 0;
}
.newsletter_icon img
{
    max-width: 100%;
}
.newsletter_content
{
    width: 60%;
}
.newsletter_form
{
    position: relative;
    width: 569px;
    float: left;
}
.newsletter_input
{
    width: 80%;
    height: 50px;
    background: #FFFFFF;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    padding-left: 25px;
    font-size: 16px;
    outline: none;
    color: #0e8ce4;
}
.newsletter_input:focus
{
    border: solid 1px rgba(14, 140, 228, 0.3);
    box-shadow: 0px 1px 5px rgba(14, 140, 228, 0.3);
}
.newsletter_input::-webkit-input-placeholder
{
    font-size: 16px;
    color: rgba(0,0,0,0.3);
}
.newsletter_input:-moz-placeholder
{
    font-size: 16px;
    color: rgba(0,0,0,0.3);
}
.newsletter_input::-moz-placeholder
{
    font-size: 16px;
    color: rgba(0,0,0,0.3);
}
.newsletter_input:-ms-input-placeholder
{
    font-size: 16px;
    color: rgba(0,0,0,0.3);
}
.newsletter_input::placeholder
{
    font-size: 16px;
    color: rgba(0,0,0,0.3);
}
.newsletter_button
{
    position: absolute;
    top: 0;
    right: 0;
    width: 153px;
    height: 50px;
    background: #0e8ce4;
    color: #FFFFFF;
    line-height: 50px;
    font-size: 18px;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.newsletter_button:hover
{
    opacity: 0.8;
}
.newsletter_unsubscribe_link
{
    float: right;
    text-align: right;
    height: 50px;
}
.newsletter_unsubscribe_link a
{
    font-size: 10px;
    color: #0e8ce4;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 50px;
}
.newsletter_unsubscribe_link a:hover
{
    color: #0d82d3;
}

/*********************************
17. Footer
*********************************/

.footer
{
    padding-top: 50px;
    padding-bottom: 40px;
    background: #28515233;
}
.footer .logo_container
{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.footer_title
{
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 5px;
    padding-top:  5px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}
.footer_phone
{
    font-size: 18px;
    font-weight: 500;
    color: #0e8ce4;
    margin-top: 13px;
}
.footer_contact_text
{

}
.footer_contact_text p
{
    margin-bottom: 0px;
}
.footer_social ul
{
    display: flex;
}
.footer_social ul li
{
    width: 40px;
    height: 40px;
    background: #fafafa;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    margin: 8px;
    text-align: center;
}
.footer_number
{
    margin: 5px;
    font-family: 'Rubik', sans-serif;
}

.footer_social ul li i
{
    font-size: 22px;
    line-height: 40px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.footer_social ul li:nth-child(1) i
{
    color: #2f55a4;
}
.footer_social ul li:nth-child(2) i
{
    color: rgba(14, 140, 228, 0.73);
}
.footer_social ul li:nth-child(3) i
{
    color: #FF0000;
}
.footer_social ul li:hover i
{
    color: #fafafa;
}
.footer_social ul li:hover:nth-child(1)
{
    background: #2f55a4;
}
.footer_social ul li:hover:nth-child(2)
{
    background:  rgba(14, 140, 228, 0.73);
}
.footer_social ul li:hover:nth-child(3)
{
    background: #FF0000;
}
.footer_mode ul
{
    display: flex;
}
.footer_mode ul li
 {

     width: 39px;
     height: 39px;
     background: #fafafa;
     border-radius: 50%;
     box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
     margin: 9px;

 }
.footer_mode ul li img
{
    width:40px;
    height:40px;
    padding: 10px;
}
.footer_subtitle
{
    font-size: 12px;
    color: #000000;
}
.footer_column ul:first-of-type
{
}
.footer_column ul
{
}
.footer_list li
{
    margin-bottom: 6px;
}
.footer_list li a
{
    font-size: 12px;
    font-weight: 500;
    color: rgba(0,0,0,0.4);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.footer_list li a:hover
{
    color: #0e8ce4;
}
.footer_list_2
{
    margin-top: 42px !important;
}

.copyright
{
    width: 100%;
    background: #28515233;
}
.copyright_container
{
    width: 100%;
    height: 56px;
}
.copyright_content
{
    font-size: 10px;
    color: rgba(0,0,0,0.6);
}
.copyright_content span
{
    font-weight: 500;
}
.logos_list li
{
    display: inline-block;
    margin-right: 12px;
}
.logos_list li:last-child
{
    margin-right: 0px;
}





