.header
{
    position: relative;
    width: 100%;
    z-index: 10;
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
    width: 100%;
    height: 56px;
    background: #fafafa;
    border-bottom: solid 1px rgba(0,0,0,0.05);
    z-index: 2;
}
.header.scrolled .top_bar
{
    display: none;
}
.top_bar_contact
{
    display: inline-block;
}
.top_bar_contact_item
{
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    margin-right: 40px;
}
.top_bar_contact_item:not(:first-child)
{
    margin-right: 0px;
}
.top_bar_contact_item a
{
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.top_bar_contact_item a:hover
{
    color: #8a8a8a;
}
.top_bar_contact_item:last-child
{
    margin-right: 0px;
}
.top_bar_icon
{
    display: inline-block;
    margin-right: 12px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}
.top_bar_menu
{
    display: inline-block;
}

.top_bar_dropdown li
{
    padding-left: 13px;
    padding-right: 13px;
}
.standard_dropdown li
{
    display: inline-block;
    position: relative;
    height: 56px;
}
.standard_dropdown li li
{
    display: block;
    width: 80%;
}
.standard_dropdown li li a
{
    display: block;
    width: 100%;
    border-bottom: solid 1px #f2f2f2;
    font-size: 16px;
}
.standard_dropdown li:last-child a
{
    border-bottom: none;
}
.standard_dropdown li.hassubs > a i
{
    display: inline-block;
    margin-left: 5px;
}
.standard_dropdown li a
{
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 56px;
    white-space: nowrap;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.standard_dropdown li a:hover
{
    color: #0e8ce4;
}
.standard_dropdown li a i
{
    display: none;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
    font-size: 12px;
}
.standard_dropdown li ul
{
    display: block;
    position: absolute;
    top: 120%;
    left: 0;
    width: auto;
    visibility: hidden;
    opacity: 0;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}
.standard_dropdown li:hover > ul
{
    top: 100%;
    visibility: visible;
    opacity: 1;
}
.standard_dropdown ul ul
{
    left: 100%;
    top: 0 !important;
}
.top_bar_user
{
    display: inline-block;
    margin-left: 35px;
}
.user_icon
{
    display: inline-block;
    margin-right: 7px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    width: 15px;
}
.user_icon img
{
    width: 100%;
}
.top_bar_user div
{
    display: inline-block;
}
.top_bar_user div:nth-child(2)
{
    margin-right: 21px;
}
.top_bar_user div:nth-child(2)::after
{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -13px;
    width: 1px;
    height: 17px;
    background: rgba(0,0,0,0.1);
    content: '';
}
.top_bar_user a
{
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.top_bar_user a:hover
{
    color: #8a8a8a;
}

/*********************************
3.2 Header Main
*********************************/


.header_main
{
    z-index: 1;
    background-color: #eff6fa;
}
.header.scrolled .header_main
{
    display: none;
}
.header_main_item
{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.logo_container
{
    top: 20%;
}
.logo a
{
    font-size: 36px;
    font-weight: 500;
    color: #0e8ce4;
}
.logo img
{
    width: 90px;
}
.header_search
{
    height: 175px;
}
.header_search_content
{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header_search_form_container
{
    width: 100%;
    height: 50px;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 0px 10px 10px 0px;
}
.header_search_form
{
    width: 100%;
    height: 100%;
}
.header_search_input
{
    display: block;
    position: relative;
    width: calc((100% - 50px) * 0.601);
    height: 100%;
    line-height: 50px;
    border: none !important;
    outline: none !important;
    padding-left: 26px;
    color: rgba(0,0,0,0.9);
    float: left;
}
.header_search_input::-webkit-input-placeholder
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input:-moz-placeholder /* older Firefox*/
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input::-moz-placeholder /* Firefox 19+ */
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input:-ms-input-placeholder
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input::placeholder
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.custom_dropdown
{
    width: calc((100% - 50px) * 0.399);
    height: 50px;
    float: left;
    padding-left: 26px;
    text-align: left!important;
}
.custom_dropdown::before
{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 32px;
    background: #969696;
    content: '';
}
.custom_dropdown_list i
{
    display: inline-block;
    color: rgba(0,0,0,0.5);
    text-shadow: 0.1px 0.1px #000;
    font-size: 10px;
    margin-left: 3px;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
}
.custom_dropdown_placeholder
{
    font-size: 16px;
    font-weight: 500;
    color: #5a5a5a;
    line-height: 48px;
    cursor: pointer;

}

.custom_list
{
    text-align: left;
    position: absolute;
    width: 115%;
    padding: 0;
    top: 75px;
    left: -25px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: all 0.2s ease;

}
.custom_list.active
{
    visibility: visible;
    opacity: 1;
    top: 50px;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.custom_list li
{
    font-size: 16px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000 !important;
    background-color: #ffffff;
    position: relative;

}
.custom_list li a
{
    display: block;
    color: rgba(0,0,0,0.65);
    line-height: 35px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.custom_list li a:hover
{
    color: #0e8ce4;
}
select
{
    display: inline;
    border: 0;
    width: auto;
    margin-left: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 2px solid #555;
    color: #7b00ff;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
select:hover
{
    cursor: pointer;
}
select option
{
    border: 0;
    border-bottom: 1px solid #555;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.header_search_button
{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: #0e8ce4;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wishlist_cart
{
    height: 175px;
}
.wishlist
{
    margin-right: 50px;
}
.wishlist_icon img
{
    width: 100%;
}
.wishlist_content
{
    margin-left: 14px;
}
.wishlist_text a
{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.wishlist_text a:hover
{
    color: #0e8ce4;
}
.wishlist_count
{
    margin-top: -2px;
    color: #a3a3a3;
    font-size: 14px;
}
.cart_count
{
    position: absolute;
    bottom: -1px;
    right: -14px;
    width: 23px;
    height: 23px;
    background: #0e8ce4;
    border-radius: 50%;
    text-align: center;
}
.cart_count span
{
    display: block;
    line-height: 23px;
    font-size: 12px;
    color: #FFFFFF;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
}

.cart_icon img
{
    width: 100%;
}
.cart_content
{
    margin-left: 28px;
}
.cart_text a
{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.cart_text a:hover
{
    color: #0e8ce4;
}
.cart_price
{
    font-size: 14px;
    color: #a3a3a3;
    margin-top: -2px;
}

/*********************************
3.3 Main Navigation
**********************************/
.main_nav
{
    width: 100%;
    border-top: solid 1px #f2f2f2;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.25);
    background: #FFFFFF;
}
.header.scrolled .main_nav
{
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.main_nav_content
{
    width: 100%;
    height: 60px;

}
.cat_menu_container
{
    width: 293px;
    height: 100%;
    background: #0e8ce4;
    padding-left: 35px;
    cursor: pointer;
    z-index: 1;
}
.cat_menu_title
{
    height: 100%;
}
.cat_burger
{
    width: 18px;
    height: 14px;
}
.cat_burger span
{
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
}
.cat_burger span:nth-child(2)
{
    top: 6px;
}
.cat_burger span:nth-child(3)
{
    top: 12px;
}
.cat_menu_text
{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 20px;
}
.cat_menu_container ul
{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    min-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.cat_menu_container > ul
{
    padding-top: 13px;
}
.cat_menu_container:hover .cat_menu
{
    visibility: visible;
    opacity: 1;
}
.cat_menu li
{
    display: block;
    position: relative;
    width: auto;
    height: 46px;
    border-bottom: solid 1px #f2f2f2;
    padding-left: 35px;
    padding-right: 30px;
    white-space: nowrap;
}
.cat_menu li.hassubs > a i
{
    display: block;
}
.cat_menu li a
{
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 46px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.cat_menu li a:hover
{
    color: #0e8ce4;
}
.cat_menu li a i
{
    display: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    font-size: 12px;
}
.cat_menu li ul
{
    display: block;
    position: absolute;
    top: 35px;
    left: 100%;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}
.cat_menu li:hover > ul
{
    top: 0;
    visibility: visible;
    opacity: 1;
}
.main_nav_dropdown li
{
    margin-right: 35px;
}
.main_nav_dropdown li:last-child
{
    margin-right: 0px;
}
.main_nav_dropdown li a
{
    font-size: 18px;
    font-weight: 400;
    color: #a19a9a;
    line-height: 60px;
}
.main_nav_dropdown li li
{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0px;
}
.menu_trigger_container
{
    display: none;
    width: auto;
    height: 100%;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
}
.menu_trigger
{
    height: 100%;
}
.menu_burger_inner
{
    display: inline-block;
}
.menu_trigger_text
{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 16px;
}

/*********************************
3.4 Page Menu
*********************************/

.page_menu
{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.page_menu_content
{
    height: 0px;
    background: #0e8ce4;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.page_menu_search
{
    display: none;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.page_menu_search_input
{
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: none;
    outline: none;
    padding-left: 25px;
}
.page_menu_nav
{
    padding-top: 15px;
}
.page_menu_item
{
    display: block;
    position: relative;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    vertical-align: middle;
}
.page_menu_item > a
{
    display: block;
    color: #FFFFFF;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.page_menu_item > a:hover
{
    color: #b5aec4;
}
.page_menu_item a i
{
    display: none;
    margin-left: 8px;
}
.page_menu_item.has-children > a > i
{
    display: inline-block;
}
.page_menu_selection
{
    margin: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    z-index: 1;
}
.page_menu_selection li
{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}
.page_menu_selection li a
{
    display: block;
    color: #FFFFFF;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.page_menu_selection li a:hover
{
    color: #b5aec4;
}
.page_menu_selection li:last-child a
{
    border-bottom: none;
}
.menu_contact_item
{
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    line-height: 56px;
    margin-right: 40px;
    color: #FFFFFF;
}
.menu_contact_item:not(:first-child)
{
    margin-right: 0px;
}
.menu_contact_item a
{
    font-size: 12px;
    font-weight: 300;
    line-height: 56px;
    color: #FFFFFF;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: alcl 200ms ease;
}
.menu_contact_item a:hover
{
    color: #8a8a8a;
}
.menu_contact_item:last-child
{
    margin-right: 0px;
}
.menu_contact_icon
{
    display: inline-block;
    margin-right: 14px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

