body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}

.container_auth
{
    padding: 0 !important;
    margin: 80px 0 80px 0;
}
.card-header
{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    border: none !important;
    text-shadow: 1px 1px 1px #000000;
    background-image: linear-gradient(60deg, #109cff 0%, #4291c9 100%);

}
.carte
{

    padding: 0 !important;
}
.card
{
  margin: 0;
}

.card-body
{

    border-radius: 10px;
    padding-bottom: 50px;
    padding-top:  30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

label {
    font-size: 15px;
    color: #808080;
    text-align: left !important;
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    padding: 0 10px;
}
 .row
{

}
.form-group
{
    justify-content: center;
    text-align: center;
    padding-top:15px ;
    width: 100%;
    margin: auto;
}
.form-control
{
    border: none !important;
    border-radius: 0px !important;
    outline-style: none !important;
    box-shadow: unset !important;
    outline: 0 none !important;
    font-size: 14px;
    color: #555555;
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;


}
.txt1 {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #e7361b;
}

.txt1:hover
{
    opacity: 1;
    color: #ae1c17;
    font-weight: bold;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #e7361b !important;;
    box-shadow: unset !important;
    font-size: 24px !important;
}
.custom-control-input
{
    z-index: 1 !important;
    left: 5px;
    opacity: 1;
    bottom: 12px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}
.custom-control
{
    margin: 15px;
}
.button_login
{
    border-radius: 5px;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    font-family:'Rubik', sans-serif;
    font-size: 18px;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.23),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.20),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    color: #fff3cd;
    background-color: #e7361b;
    outline-style: none !important;
    margin-bottom: 5px;
    line-height: 38px;
    padding-right: 40px;
    position: relative;
    display: inline-block;
    border: none;
}
.button_login:hover
{
    background-color: rgb(226, 33, 6);
    cursor: pointer;
}

.button_login_facebook
{
    border-radius: 5px;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    font-family:'Rubik', sans-serif;
    font-size: 16px;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    color: #fff3cd;
    background-color:#3b5998;
    outline-style: none !important;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 38px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
    border: none;
}
.button_login_facebook:hover
{
    background-color: #2b4b9c;
    cursor: pointer;
}
.button_login_facebook span, .button_login span
{
    float: left;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 24px;
}
.description
{
    margin-bottom: 10px;
    padding:45px;
    font-family: "Google Sans", sans-serif;
    font-size: 20px;
    color: #808080;
}
.cont_form
{
    min-height: 250px;
}

.button_login_facebook:active, .button_login:active
{
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}
.button_login_facebook a, .button_login a,.button_login_facebook a:hover, .button_login a:hover
 {
     color: #fff3cd;
    outline-style: unset;
    text-underline: none !important;
 }
.col-form-label
{
    padding: 10px 0px 0px 0px !important;

}
.input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    height: 55px;
    font-family: 'Roboto', sans-serif;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    left: 40px;
    width: 80%;
    margin-bottom: 2px;
    justify-content: center;
    background: transparent;
}

.input-container input:focus ~ label,.input-container input:valid ~ label {
    color: rgb(231, 34, 6);
    font-weight: 800;
    transform: translate(-10%, -50%) scale(0.8);
}
.input-container input:focus ~ label,.input-container input:valid ~ label {
    color: rgb(231, 34, 6);
    font-weight: 800;
    transform: translate(-10%, -50%) scale(0.8);
}


.input-container input:focus ~ .bar:before, .input-container input:focus ~ .bar:after,
.input-container input:valid ~ .bar:before,.input-container input:valid ~ .bar:after {
    width: 50%;
}
.input-container input:focus ~ .label_fa,.input-container input:valid ~ .label_fa {
    color: rgb(231, 34, 6);
}
.input-container label {
    position: absolute;
    top: 0;
    left: 40px;
    color: #757575;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    line-height: 80px;
}
.input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #bbbbbb;
    width: 100%;
    height: 1px;
    font-weight: 100;
}
.input-container .bar:before, .input-container .bar:after {
    content: '';
    position: absolute;
    background: #e91312;
    width: 0;
    height: 2px;
    transition: 0.2s ease;
}
.input-container .bar:before {
    left: 50%;
}
.input-container .bar:after {
    right: 50%;
}
.label_fa
{
    position: absolute;
    top: 0;
    left: 10px;
    color: #aaaaaa;
    font-size: 18px;
    opacity: 1;
    font-weight: 800;
    line-height: 85px;

}


/*user dropdown */
.profile-dropdown {
    display: inline-block;
    position: relative;
    margin: auto;
    font-size: 1.1rem;
    height: 3.5rem;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
.profile-dropdown * {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
.profile-dropdown input[type="checkbox"] {
    display: none;
}
.profile-dropdown input[type="checkbox"]:checked ~ ul {
    display: block;
    animation: pulse 0.5s;
}
.profile-dropdown input[type="checkbox"]:checked ~ img {
    background: #fe6146;
}
.profile-dropdown input[type="checkbox"]:checked ~ label {
    background: #fe6146;
}
.profile-dropdown input[type="checkbox"]:checked ~ label i {
    color: #f2f2f2;
}
.profile-dropdown img {
    display: inline-block;
    background: #d9d9d9;
    height: 2.5rem;
    vertical-align: middle;
    margin: 0.21rem 0.3rem 1.5rem 0.5rem;
    border-radius: 50%;

}
.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.2rem;
    width: 100px;
    color: #8a8a8a;
    padding-top: 15px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 0;
    marrgin: 0;
    background: #fff;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    border-radius: 3px;
}
.profile-dropdown ul li a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: #737373;
    height: 50px;
    font-size: 0.9rem;
}
.profile-dropdown ul li a span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height:0px;
    background-color: #1e7e34;
    text-decoration: none;
    color: #fff3cd;
    font-size: 10px;

}
.profile-dropdown ul li a i {
    font-size: 1.2rem;
    vertical-align: middle;
    margin: 0 0.75rem 0.5rem -0.25rem;
}
.profile-dropdown ul li a:hover {
    background: #e5e5e5;
}
.profile-dropdown ul li:first-child a:hover {
    border-radius: 3px 3px 0 0;
}
.profile-dropdown ul li:last-child a:hover {
    border-radius: 0 0 3px 3px;
}
.profile-dropdown > label {
    position: relative;
    height: 3.5rem;
    display: block;
    text-decoration: none;
    background: transparent;
    color: #333;
    box-sizing: border-box;
    padding: 0.8rem;
    float: right;
    border-radius: 0 3px 3px 0;
}
.profile-dropdown > label i {
    color: #b2b2b2;
    font-size: 1.75rem;
}
.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}

/*drop down notification */
.notification{
    position: relative;
    display: inline-block;
}
.notification i{
    font-size: 24px;
    padding: 12px;
    color: #737373;
}
.number{
    height: 20px;
    width:  20px;
    background-color: #fe4852;
    border-radius: 22px;
    color: white;
    text-align: center;
    position: absolute;
    top: 5px;
    left:20px;
    padding: 1px;
    border: 1px #fe4852 solid;
}
.number:empty {
    display: none;
}
.notBtn{
    transition: 0.5s;
    cursor: pointer
}

.box{
    width: 400px;
    height: 60vh;
    border-radius: 5px;
    transition: 0.5s;
    position: absolute;
    overflow-y: scroll;
    padding: 0px;
    left: -300px !important;
    margin-top: 5px;
    background-color: #F4F4F4;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    cursor: context-menu;
}

.fas:hover {
    color: #9c9c9c;
}

.content{
    padding: 20px;
    color: black;
    vertical-align: middle;
    text-align: left;
}

.gry{
    background-color: #F4F4F4;
}

.top{
    color: black;
    padding: 10px
}

.display{
    position: relative;
}

.cont{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;

}

.cont:empty{
    display: none;
}

.stick{
    text-align: center;
    display: block;
    font-size: 50pt;
    padding-top: 70px;
    padding-left: 80px
}

.stick:hover{
    color: black;
}

.cent{
    text-align: center;
    display: block;
}

.sec{
    padding: 10px 5px;
    background-color: #F4F4F4;
    transition: 0.5s;
}

.profCont{
    padding-left: 10px;
}

.profile{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 50px;
    float: left;
}

.txt{
    vertical-align: top;
    font-size: 1rem;
    padding: 1px 1px 0px 80px;
}

.sub{
    font-size: 0.7rem;
    color: grey;
}

.new{

    background-color: rgba(0, 164, 10, 0.07);
}

.sec:hover{
    background-color: #f0f0f0;
}

.btn
{
    margin: 5px;
    height: 2.5rem;
    border-radius: 5px;
}
.btn
{
    transition: color 0.5s ease;
    outline-style: unset;
}
.invalid-feedback
{
    color: #ae3107 !important;
}

@media only screen and (max-width: 991px) {

    .card{
        margin: 0;
    }

}
@media only screen and (max-width: 768px) {

    .card{
        margin: 0;
    }

}
@media only screen and (max-width: 650px) {

    .card{
        margin: 0;
    }

}@media only screen and (max-width: 540px) {

    .card{
        margin: 0;
    }

}@media only screen and (max-width: 400px) {

    .card{
        margin: 0;
    }

}






