@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Main
	3.3 Main Navigation
	3.4 Page Menu
4. Banner
5. Characteristics
6. Deals of the week
	6.1 Deals
	6.2 Featured
7. Popular Categories
8. Banner 2
9. Hot New Arrivals
10. Hot Best Sellers
11. Adverts
12. Trends
13. Latest Reviews
14. Recently Viewed
15. Brands
16. Newsletter
17. Footer


******************************/





/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #000000;
}
div
{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
    list-style: none;
    margin-bottom: 0px;
}
p
{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #828282;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;


}
p a:active
{
    position: relative;
    color: #FF6347;
}
p a:hover
{
    color: #FFFFFF;
    background: #ffa07f;
}
p a:hover::after
{
    opacity: 0.2;
}
::selection
{

}
p::selection
{

}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
.form-control
{
    color: #db5246;
}
section
{
    display: block;
    position: relative;
    box-sizing: border-box;
}
.clear
{
    clear: both;
}
.clearfix::before, .clearfix::after
{
    content: "";
    display: table;
}
.clearfix::after
{
    clear: both;
}
.clearfix
{
    zoom: 1;
}
.float_left
{
    float: left;
}
.float_right
{
    float: right;
}
.trans_200
{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.trans_300
{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.trans_400
{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.trans_500
{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.fill_height
{
    height:100%;
    border: 1px green solid;
    padding: 0;
}
.super_container
{
    width: 100%;
    overflow: hidden;
}
.prlx_parent
{
    overflow: hidden;
}
.prlx
{
    height: 130% !important;
}
.nopadding
{
    padding: 0px !important;
}
.button
{
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    border: unset;
    outline-style: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.button a
{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
}
.button:hover
{
    opacity: 0.8;
    background: #0a64a4;
}
.header
{
    position: relative;
    width: 100%;
    z-index: 10;
}

/*********************************
4. Banner
*********************************/

.banner
{
    width:100%;
    overflow: hidden;
}
.banner_background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner_content
{
    z-index: 1;
    border: 1px red solid;
}
.banner_text
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.166;
    color: #7599b2;
    text-transform: uppercase;
    letter-spacing: 0.038em;
}
.banner_price
{

}
.banner_price
{
    font-size: 30px;
    color: #df3b3b;
    margin-top: 87px;
}
.banner_price span
{
    display: inline-block;
    position: relative;
    color: #7e8285;
    margin-right: 14px;
}
.banner_price span::after
{
    display: block;
    position: absolute;
    top: 21px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #8d8d8d;
    content: '';
}
.banner_product_name
{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin-top: 8px;
}
.banner_button
{
    margin-top: 42px;
}
.banner_product_image
{
   border: 1px red solid;
}
.banner_product_image img
{
    width: 110% ;
    padding-bottom:50px;
}
.add
{
    color:white;
}
image_product_featured
{
    outline-style: unset;
}


/*********************************
5. Characteristics
*********************************/

.characteristics
{
    padding-bottom: 50px;

}
.char_item
{
    width: 100%;
    height: 250px;
    padding: 20px;
    margin: 75px 0;
    border-top: 5px solid #df3b3b;
    border-right: 1px solid #aebbc9;
    border-left: 1px solid #aebbc9;
    border-bottom: 1px solid #aebbc9;
    border-radius: 0 0 5px 5px;
}
.char_icon
{
    margin: 20px;
}
.char_icon img
{
    width: 100px;
}
.char_content
{
    transform: translate(-1px, 3px);
}
.char_title
{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.char_subtitle
{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,0.7);
}

/*********************************
6. Deals of the week
*********************************/

.deals_featured
{
    width: 100%;
}

/*********************************
6.1 Deals
*********************************/

.deals
{
    width: 36%;
    margin-right: 7%;
    padding-top: 85px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.deals_title
{
    position: absolute;
    top: 27px;
    left: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.deals_slider_container
{
    width: 100%;
}
.deals_item
{
    width: 100% !important;
}
.deals_image
{
    width: 100%;
}
.deals_image img
{
    width: 100%;
}
.deals_content
{
    margin-top: 33px;
}
.deals_item_category a
{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
}
.deals_item_price_a
{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
}
.deals_item_name
{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}
.deals_item_price
{
    font-size: 24px;
    font-weight: 500;
    color: #df3b3b;
}
.available
{
    margin-top: 19px;
}
.available_title
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    font-weight: 400;
}
.available_title span
{
    font-weight: 700;
}
.sold_title
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    font-weight: 400;
}
.sold_title span
{
    font-weight: 700;
}
.available_bar
{
    width: 100%;
    height: 10px;
    background: #e8e8e8;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}
.available_bar span
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background: #0e8ce4;
}
.deals_timer
{
    margin-top: 30px;
}
.deals_timer_title
{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.deals_timer_subtitle
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}
.deals_timer_content
{
    padding-bottom: 17px;
}
.deals_timer_box
{
    width: 230px;
    padding-left: 3px;
    padding-right: 3px;
    border: solid 1px #cccccc;
    border-radius: 5px;
    margin-right: 1px;
}
.deals_timer_unit
{
    width: 25%;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 2px;
    float: left;
}
.deals_timer_unit:first-child::after,
.deals_timer_unit:nth-child(2)::after
{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    width: 1px;
    height: 25px;
    background: #e5e5e5;
    content: '';
}
.deals_timer_unit span
{
    position: absolute;
    display: block;
    bottom: -22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 8px;
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
}
.deals_slider_nav_container
{
    position: absolute;
    top: 20px;
    right: 40px;
}
.deals_slider_nav
{
    display: inline-block;
    cursor: pointer;
}
.deals_slider_nav i
{
    font-size: 18px;
    padding: 10px;
    color: #666666;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.deals_slider_nav:hover i
{
    color: #000000;
}
.deals_slider_nav:active i
{
    color: #df3b3b;
}
.deals_slider_prev
{
    margin-right: 4px;
}

/*********************************
6.2 Featured
*********************************/

.featured
{
    width: 57%;
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px);
}
.tabbed_container
{
    width: 100%;
}
.tabs
{
    width: 100%;
}
.tabs ul li
{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0,0,0,0.5);
    float: left;
    margin-right: 53px;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.tabs ul li:hover
{
    color: rgba(0,0,0,0.8);
}
.tabs ul li:last-child
{
    margin-right: 0px;
}
.tabs ul li.active
{
    color: rgba(0,0,0,0.8);
}
.tabs_line
{
    width: 100%;
    height: 1px;
    background: #dadada;
    margin-top: 12px;
}
.tabs.tabs-right .tabs_line
{
    margin-top: 39px;
}
.tabs_line span
{
    position: absolute;
    top: -1px;
    left: 0;
    width: 80px;
    height: 2px;
    background: #0e8ce4;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.tabs.tabs-right ul
{
    float: right;
}
.product_panel
{
    display: none;
    margin-left: -60px;
    margin-right: -60px;
}
.product_panel.active
{
    display: block;
}
.featured_slider
{
    width: 100%;
}
.featured_slider .slick-list
{
    padding-left: 20px;
    padding-right: 20px;
}
.featured_slider .slick-track
{
    padding-bottom: 120px;
}
.featured_slider_item
{
    height: 263px;
    width: 25%;
}
.product_item
{
    position: relative;
    left: -10px;
    width: calc(100% + 20px);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    background: #FFFFFF;
    cursor: pointer;
    padding-top: 40px;
    z-index: 0;
}
.slick-active .product_item:hover
{
    box-shadow: 0px 5px 25px rgba(0,0,0,0.2);
    z-index: 10;
}
.product_image
{
    width: 100%;
    height: 115px;
}
.product_image a
{
    outline-style: unset;

}
.product_image img
{
    display: block;
    position: relative;
    max-width: 100%;

}
.product_content
{
    width: 100%;
}
.product_price
{
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
}
.product_price.discount
{
    color: #df3b3b;
}
.product_price span
{
    font-style: inherit;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    margin-left: 10px;
}
.product_name
{
    margin-top: 4px;
    overflow: hidden;
}
.product_name div
{
    width: 100%;

}
.product_name div a
{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.product_name div a:hover
{
    color: #0e8ce4;
}

.product_extras
{
    width: 100%;
    background: #FFFFFF;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 500ms ease;
    -moz-transition: max-height 500ms ease;
    -ms-transition: max-height 500ms ease;
    -o-transition: max-height 500ms ease;
    transition: max-height 500ms ease;
}
.slick-active .product_item:hover .product_extras
{
    max-height: 300px;
}
.slick-active .product_item:hover .product_color,
.slick-active .product_item:hover .product_cart_button
{
    visibility: visible;
    opacity: 1;

}
.product_color input
{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 8px;

}
.product_color input:checked::after
{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'FontAwesome';
    content: '\f00c';
    color: #FFFFFF;
}
.product_cart_button
{
    position: relative;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 48px;
    background: #0e8ce4;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 19px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.product_cart_button:hover
{
    background: rgba(14, 140, 228, 0.8);
}
.featured_slider .slick-dots
{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 100px;
}
.featured_slider .slick-slide
{
    outline: none;
}
.featured_slider .slick-dots li
{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    content: '';
    background: #e8e8e8;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.featured_slider .slick-dots li:hover
{
    background: #0e8ce4;
}
.featured_slider .slick-dots li.slick-active
{
    background: #0e8ce4;
}
.featured_slider .slick-dots li:last-child
{
    margin-right: 0px;
}
.featured_slider .slick-dots li button
{
    display: none;
}
.featured_slider_dots_cover
{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 100px;
    width: 100px;
    height: 30px;
    background: #FFFFFF;
    z-index: 1;
    display: none;
}
.product_fav
{
    position: absolute;
    top: 33px;
    right: 12px;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.product_fav:hover
{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.product_item:hover .product_fav
{
    top: 18px;
}
.product_fav i
{
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #cccccc;
    line-height: 36px;
    pointer-events: none;
    z-index: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.product_fav.active i
{
    color: red;
}
.product_item:hover .product_fav
{
    visibility: visible;
    opacity: 1;
}
.product_marks
{
    display: none;
    position: absolute;
    top: 33px;
    left: 30px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.slick-active .product_marks
{
    display: block;
}
.product_item:hover .product_marks
{
    top: 18px;
    left: 18px;
}
.product_mark
{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    line-height: 36px;
    font-size: 12px;
}
.product_new
{
    display: none;
    background: #0e8ce4;
    visibility: hidden;
    opacity: 0;
}
.product_discount
{
    display: none;
    background: #df3b3b;
    visibility: hidden;
    opacity: 0;
}
.product_item.is_new .product_new,
.product_item.discount .product_discount
{
    display: inline-block;
    visibility: visible;
    opacity: 1;
}

/*********************************
7. Popular Categories
*********************************/

.popular_categories
{
    padding-top: 88px;
    padding-bottom: 90px;
}
.popular_categories_title
{
    font-size: 30px;
    font-weight: 500;
    color: #000000;
    line-height: 1.2;
}
.popular_categories_slider_nav
{
    margin-top: 27px;
}
.popular_categories_nav
{
    display: inline-block;
    width: 36px;
    height: 36px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-right: 16px;
}
.popular_categories_nav:last-child
{
    margin-right: 0px;
}
.popular_categories_nav i
{
    line-height: 36px;
    color: #e5e5e5;
    font-size: 18px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.popular_categories_nav:hover i
{
    color: #474747;
}
.popular_categories_link
{
    margin-top: 40px;
}
.popular_categories_link a
{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #0e8ce4;
}
.popular_category
{
    height: 216px;
    padding-left: 40px;
    padding-right: 40px;
}
.popular_categories_slider .owl-item:nth-child(even)
{
    background: #eff6fa;
}
.popular_category_image img
{
    max-height: 100%;
    max-width: 100%;
}
.popular_category_text
{
    margin-top: 20px;
    line-height: 1.714;
    text-align: center;
}

/*********************************
8. Banner 2
*********************************/

.banner_2
{
    width: 100%;

}
.banner_2_background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner_2_item
{
    height: 580px;
}
.banner_2_content
{
    padding-top: 100px;
}
.banner_2_image_container
{
    width: 100%;
    height: 100%;
}
.banner_2_image
{
    min-width: 100%;
    width: calc(44.8vw);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}
.banner_2_image img
{
    width: 100%;
}
.banner_2_category
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}
.banner_2_title
{
    font-size: 30px;
    font-weight: 500;
    color: #000000;
    margin-top: 11px;
}
.banner_2_text
{
    font-size: 16px;
    font-weight: 300;
    color: #828282;
    line-height: 1.5;
    margin-top: 9px;
}
.banner_2_rating
{
    margin-top: 18px;
}
.rating_r i::before
{
    font-family: 'FontAwesome';
    content: "\f006";
    font-style: normal;
    font-size: 19px;
    margin-right: 4px;
    color: #f5e211;
}
.rating_r_1 i:first-child::before{content: "\f005";}
.rating_r_2 i:first-child::before{content: "\f005";}
.rating_r_2 i:nth-child(2)::before{content: "\f005";}
.rating_r_3 i:first-child::before{content: "\f005";}
.rating_r_3 i:nth-child(2)::before{content: "\f005";}
.rating_r_3 i:nth-child(3)::before{content: "\f005";}
.rating_r_4 i:first-child::before{content: "\f005";}
.rating_r_4 i:nth-child(2)::before{content: "\f005";}
.rating_r_4 i:nth-child(3)::before{content: "\f005";}
.rating_r_4 i:nth-child(4)::before{content: "\f005";}
.rating_r_5 i:first-child::before{content: "\f005";}
.rating_r_5 i:nth-child(2)::before{content: "\f005";}
.rating_r_5 i:nth-child(3)::before{content: "\f005";}
.rating_r_5 i:nth-child(4)::before{content: "\f005";}
.rating_r_5 i:nth-child(5)::before{content: "\f005";}
.banner_2_button
{
    margin-top: 43px;
}
.banner_2_dots
{
    position: absolute;
    bottom: 40px;
    left: calc((100% - 1170px) / 2 + 15px);
    z-index: 1000000;
}
.banner_2_dots .owl-dot
{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-right: 16px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}
.banner_2_dots .owl-dot:last-child
{
    margin-right: 0px;
}
.banner_2_dots .owl-dot.active
{
    background: #0e8ce4;
    box-shadow: none;
}

/*********************************
9. Hot New Arrivals
*********************************/

.new_arrivals
{
    width: 100%;
    padding-top: 96px;
    padding-bottom: 96px;
}
.new_arrivals_title
{
    position: absolute;
    left: 0;
    top: -7px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -29px;
}
.arrivals_slider
{
    width: 100%;
}
.arrivals_slider .slick-list
{
    padding-left: 20px;
    padding-right: 20px;
}
.arrivals_slider .slick-track
{
    padding-bottom: 80px;
}
.arrivals_slider_item
{
    visibility: hidden;
    height: 263px;
    width: 25%;
}
.arrivals_slider .slick-active .arrivals_slider_item
{
    visibility: visible;
}
.border_active.active
{
    display: block;
}
.border_active
{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 1px;
    height: 183px;
    background: #e5e5e5;
    content: '';
    z-index: 1;
}
.arrivals_slider .slick-dots
{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 50px;
}
.arrivals_slider .slick-slide
{
    outline: none;
}
.arrivals_slider .slick-dots li
{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    content: '';
    background: #e8e8e8;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.arrivals_slider .slick-dots li:hover
{
    background: #0e8ce4;
}
.arrivals_slider .slick-dots li.slick-active
{
    background: #0e8ce4;
}
.arrivals_slider .slick-dots li:last-child
{
    margin-right: 0px;
}
.arrivals_slider .slick-dots li button
{
    display: none;
}
.arrivals_slider_dots_cover
{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 100px;
    width: 100px;
    height: 30px;
    background: #FFFFFF;
    z-index: 1;
    display: none;
}
.arrivals_single
{
    width: 100%;
    padding-top: 73px;
}
.arrivals_single > div
{
    width: 212px;
    float: right;
}
.arrivals_single_image
{
    width: 100%;
}
.arrivals_single_image img
{
    max-width: 100%;
}
.arrivals_single_content
{
    width: 100%;
}
.arrivals_single_button
{
    position: relative;
    left: 0px;
    width: 100%;
    height: 48px;
    background: #0e8ce4;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 19px;
    border-radius: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.arrivals_single_button:hover
{
    background: rgba(14, 140, 228, 0.8);
}
.arrivals_single_category
{
    margin-top: 27px;
}
.arrivals_single_category a
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.arrivals_single_category a:hover
{
    color: #0e8ce4;
}
.arrivals_single_name_container
{
    width: 100%;
}
.arrivals_single_name
{
    margin-top: 2px;
    float: left;
}
.arrivals_single_name a
{
    font-size: 16px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.arrivals_single_name a:hover
{
    color: #0e8ce4;
}
.arrivals_single_price
{
    font-size: 16px;
    font-weight: 500;
    float: right;
}
.arrivals_single_rating
{
    margin-top: 9px;
}
.arrivals_single_marks
{
    display: block;
    position: absolute;
    top: -15px;
    left: 0px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.arrivals_single_marks .product_mark
{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    line-height: 36px;
    font-size: 12px;
}
.arrivals_single_marks .product_new
{
    display: block;
    background: #0e8ce4;
    visibility: visible;
    opacity: 1;
}
.arrivals_single_marks .product_discount
{
    display: block;
    background: #df3b3b;
    visibility: visible;
    opacity: 1;
}
.arrivals_single .product_fav
{
    position: absolute;
    top: -15px;
    right: 0px;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border-radius: 50%;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.product_fav:hover
{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.product_fav i
{
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #cccccc;
    line-height: 36px;
    pointer-events: none;
    z-index: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.product_fav.active i
{
    color: red;
}

/*********************************
10. Hot Best Sellers
*********************************/

.best_sellers
{
    padding-top: 56px;
    background: #eff6fa;
    padding-bottom: 50px;
    margin-top: -77px;
}
.bestsellers_panel
{
    display: none;
    width: 100%;
    padding-top: 50px;
}
.bestsellers_panel.active
{
    display: block;
    padding-top: 50px;
}
.bestsellers_slider
{
    width: calc(100% + 30px);
    left: -15px;
    padding-bottom: 67px;
}
.bestsellers_item
{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 25px;
}
.bestsellers_slider .slick-slide > div:first-child
{
    margin-bottom: 30px;
}
.bestsellers_slider .slick-slide
{
    outline: none;
}
.bestsellers_slider .slick-slide
{
    margin: 0 15px;
}
.bestsellers_image
{
    width: 115px;
    height: 115px;
}
.bestsellers_image img
{
    max-width: 100%;
    max-height: 100%;
}
.bestsellers_content
{
    padding-left: 25px;
}
.bestsellers_category a
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    outline-style: unset;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.bestsellers_category a:hover
{
    color: #0e8ce4;
    outline-style: unset;
}
.bestsellers_name
{
    margin-top: 2px;
}
.bestsellers_name a
{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.bestsellers_name a:hover
{
    color: #0e8ce4;
}
.bestsellers_rating
{
    margin-top: 9px;
}
.bestsellers_rating i::before
{
    font-size: 13px;
    margin-right: 8px;
}
.bestsellers_price
{
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
.bestsellers_item.discount .bestsellers_price
{
    color: #df3b3b;
}
.bestsellers_price span
{
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    margin-left: 9px;
}
.bestsellers_price span::after
{
    display: block;
    position: absolute;
    left: -2px;
    top: 6px;
    width: calc(100% + 4px);
    height: 1px;
    background: #8d8d8d;
    z-index: 1;
    content: '';
}
.bestsellers_fav
{
    display: none;
    position: absolute;
    top: 30px;
    right: 29px;
}
.bestsellers_fav.active
{
    display: block;
}
.bestsellers_fav i
{
    font-size: 13px;
    color: #df3b3b;
}
.bestsellers_marks
{
    position: absolute;
    left: 18px;
    top: 18px;
}
.bestsellers_mark
{
    display: none;
    width: 36px;
    height: 36px;
    font-size: 10px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
}
.bestsellers_discount
{
    background: #df3b3b;
}
.bestsellers_item.discount .bestsellers_discount,
.bestsellers_item.is_new .bestsellers_new
{
    display: block;
}
.bestsellers_new
{
    background: #0e8ce4;
}
.bestsellers_slider .slick-dots
{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -5px;
}
.bestsellers_slider .slick-dots li
{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    content: '';
    background: #e8e8e8;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.bestsellers_slider .slick-dots li:hover
{
    background: #0e8ce4;
}
.bestsellers_slider .slick-dots li.slick-active
{
    background: #0e8ce4;
}
.bestsellers_slider .slick-dots li:last-child
{
    margin-right: 0px;
}
.bestsellers_slider .slick-dots li button
{
    display: none;
}

/*********************************
11. Adverts
*********************************/

.adverts
{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.advert
{
    width: 100%;
    height: 180px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.advert_content
{
    padding-left: 30px;
}
.advert_subtitle
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    margin-bottom: 26px;
}
.advert_title a
{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.advert_title a:hover
{
    color: #0e8ce4;
}
.advert_title_2 a
{
    font-size: 18px;
    font-weight: 500;
    color: #0e8ce4;
}
.advert_title_2 a:hover
{
    opacity: 0.8;
}
.advert_text
{
    color: #828282;
    margin-top: 10px;
}
.advert_image
{
    width: 178px;
    height: 100%;
}
.advert_image img
{
    display: block;
    max-width: 100%;
}

/*********************************
12. Trends
*********************************/

.trends
{
    padding-top: 80px;
    padding-bottom: 80px;
}
.trends_overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(203, 225, 238, 0.3);
}
.trends_background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.trends_container
{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 40px;
}
.trends_title
{
    padding-right: 50px;
}
.trends_text
{
    margin-top: 17px;
}
.trends_text p:last-child
{
    margin-bottom: 0px;
}
.trends_slider_nav
{
    margin-top: 27px;
}
.trends_nav
{
    display: inline-block;
    width: 36px;
    height: 36px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-right: 16px;
}
.trends_nav:last-child
{
    margin-right: 0px;
}
.trends_nav i
{
    line-height: 36px;
    color: #e5e5e5;
    font-size: 18px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.trends_nav:hover i
{
    color: #474747;
}
.trends_item
{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 25px;
}
.trends_image
{
    width: 100%;
    height: 212px;
}
.trends_image img
{
    width: auto !important;
    max-width: 100% !important;
}
.trends_category a
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}
.trends_category a:hover
{
    color: #0e8ce4;
}
.trends_content
{
    margin-top: 24px;
}
.trends_name
{
    float: left;
}
.trends_name a
{
    font-size: 16px;
    color: #000000;
}
.trends_name a:hover
{
    color: #0e8ce4;
}
.trends_price
{
    font-size: 16px;
    font-weight: 500;
    float: right;
}
.trends_fav
{
    position: absolute;
    top: 18px;
    right: 18px;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: pointer;
}
.trends_fav.active
{
    visibility: visible;
    opacity: 1;
}
.trends_fav:hover
{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.trends_item:hover .trends_fav
{
    visibility: visible;
    opacity: 1;
    top: 18px;
}
.trends_fav i
{
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #cccccc;
    line-height: 36px;
    pointer-events: none;
    z-index: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.trends_fav.active i
{
    color: red;
}
.trends_item:hover .trends_fav
{
    visibility: visible;
    opacity: 1;
}
.trends_marks
{
    position: absolute;
    left: 18px;
    top: 18px;
}
.trends_mark
{
    display: none;
    width: 36px;
    height: 36px;
    font-size: 10px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
}
.trends_discount
{
    background: #df3b3b;
}
.trends_item.discount .trends_discount,
.trends_item.is_new .trends_new
{
    display: block;
}
.trends_new
{
    background: #0e8ce4;
}

/*********************************
13. Latest Reviews
*********************************/

.reviews
{
    padding-top: 96px;
    padding-bottom: 125px;
}
.reviews_title_container
{
    border-bottom: solid 1px #dadada;
}
.reviews_title
{
    font-weight: 500;
    margin-bottom: 14px;
}
.reviews_all
{
    position: absolute;
    right: 0;
    bottom: 14px;
}
.reviews_all a
{
    font-size: 10px;
    color: #0e8ce4;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.reviews_all a:hover
{
    opacity: 0.8;
}
.reviews_slider_container
{
    padding-top: 37px;
}
.review
{
    width: 100%;
}
.review_image
{
    width: 115px;
    height: 115px;
}
.review_image img
{
    max-width: 100%;
}
.review_content
{
    padding-left: 30px;
    margin-top: -4px;
}
.review_name
{
    font-size: 16px;
    font-weight: 500;
}
.review_rating_container
{
    margin-top: 1px;
}
.review_rating
{
    display: inline-block;
}
.review_rating i::before
{
    font-size: 13px;
    margin-right: 8px;
}
.review_time
{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
}
.review_text
{
    margin-top: 12px;
}
.review_text p:last-child
{
    margin-bottom: 0px;
}
.reviews_dots
{
    position: absolute;
    bottom: -69px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
}
.reviews_dots .owl-dot
{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #e8e8e8;
    border-radius: 50%;
    margin-right: 16px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}
.reviews_dots .owl-dot:last-child
{
    margin-right: 0px;
}
.reviews_dots .owl-dot.active
{
    background: #0e8ce4;
    box-shadow: none;
}

/*********************************
14. Recently Viewed
*********************************/

.viewed
{
    padding-top: 51px;
    padding-bottom: 60px;
    background: #eff6fa;
}
.viewed_title_container
{
    border-bottom: solid 1px #dadada;
}
.viewed_title
{
    margin-bottom: 14px;
}
.viewed_nav_container
{
    position: absolute;
    right: -5px;
    bottom: 14px;
}
.viewed_nav
{
    display: inline-block;
    cursor: pointer;
}
.viewed_nav i
{
    color: #dadada;
    font-size: 18px;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.viewed_nav:hover i
{
    color: #606264;
}
.viewed_prev
{
    margin-right: 15px;
}
.viewed_slider_container
{
    padding-top: 50px;
}
.viewed_item
{
    width: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}
.viewed_image
{
    width: 115px;
    height: 115px;
}
.viewed_image img
{
    display: block;
    max-width: 100%;
}
.viewed_content
{
    width: 100%;
    margin-top: 25px;
}
.viewed_price
{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
.viewed_item.discount .viewed_price
{
    color: #df3b3b;
}
.viewed_price span
{
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    margin-left: 8px;
}
.viewed_price span::after
{
    display: block;
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: 1px;
    background: #8d8d8d;
    content: '';
}
.viewed_name
{
    margin-top: 3px;
}
.viewed_name a
{
    font-size: 14px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.viewed_name a:hover
{
    color: #0e8ce4;
}
.item_marks
{
    position: absolute;
    top: 18px;
    left: 18px;
}
.item_mark
{
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}
.item_discount
{
    background: #df3b3b;
    margin-right: 5px;
}
.item_new
{
    background: #0e8ce4;
}
.viewed_item.discount .item_discount
{
    display: inline-block;
}
.viewed_item.is_new .item_new
{
    display: inline-block;
}

/*********************************
15. Brands
*********************************/

.brands
{
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}
.brands_slider_container
{
    height: 130px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding-left: 97px;
    padding-right: 97px;
}
.brands_slider
{
    height: 100%;
}
.brands_item
{
    height: 100%;
}
.brands_item img
{
    max-width: 100%;
}
.brands_nav
{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer;
}
.brands_nav i
{
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.brands_nav:hover i
{
    color: #676767;
}
.brands_prev
{
    left: 40px;
}
.brands_next
{
    right: 40px;
}

/*loader
********************
****   Loader   ****
********************
 */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #eff6fa;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}


/*user dropdown */
.profile-dropdown {
    display: inline-block;
    position: relative;
    margin: auto;
    font-size: 1.1rem;
    height: 3.5rem;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
.profile-dropdown * {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
.profile-dropdown input[type="checkbox"] {
    display: none;
}
.profile-dropdown input[type="checkbox"]:checked ~ ul {
    display: block;
    animation: pulse 0.5s;
}
.profile-dropdown input[type="checkbox"]:checked ~ img {
    background: #fe6146;
}
.profile-dropdown input[type="checkbox"]:checked ~ label {
    background: #fe6146;
}
.profile-dropdown input[type="checkbox"]:checked ~ label i {
    color: #f2f2f2;
}
.profile-dropdown img {
    display: inline-block;
    background: #d9d9d9;
    height: 2.5rem;
    vertical-align: middle;
    margin: 0.21rem 0.3rem 1.5rem 0.5rem;
    border-radius: 50%;

}
.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.2rem;
    width: 100px;
    color: #8a8a8a;
    padding-top: 15px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 0;
    marrgin: 0;
    background: #fff;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    border-radius: 3px;
}
.profile-dropdown ul li a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: #737373;
    height: 50px;
    font-size: 0.9rem;
}
.profile-dropdown ul li a span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height:0px;
    background-color: #1e7e34;
    text-decoration: none;
    color: #fff3cd;
    font-size: 10px;

}
.profile-dropdown ul li a i {
    font-size: 1.2rem;
    vertical-align: middle;
    margin: 0 0.75rem 0.5rem -0.25rem;
}
.profile-dropdown ul li a:hover {
    background: #e5e5e5;
}
.profile-dropdown ul li:first-child a:hover {
    border-radius: 3px 3px 0 0;
}
.profile-dropdown ul li:last-child a:hover {
    border-radius: 0 0 3px 3px;
}
.profile-dropdown > label {
    position: relative;
    height: 3.5rem;
    display: block;
    text-decoration: none;
    background: transparent;
    color: #333;
    box-sizing: border-box;
    padding: 0.8rem;
    float: right;
    border-radius: 0 3px 3px 0;
}
.profile-dropdown > label i {
    color: #b2b2b2;
    font-size: 1.75rem;
}
.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}

/*drop down notification */
.notification{
    position: relative;
    display: inline-block;
}
.notification i{
    font-size: 24px;
    padding: 12px;
    color: #737373;
}
.number{
    height: 20px;
    width:  20px;
    background-color: #fe4852;
    border-radius: 22px;
    color: white;
    text-align: center;
    position: absolute;
    top: 5px;
    left:20px;
    padding: 1px;
    border: 1px #fe4852 solid;
}
.number:empty {
    display: none;
}
.notBtn{
    transition: 0.5s;
    cursor: pointer
}

.box{
    width: 400px;
    height: 60vh;
    border-radius: 5px;
    transition: 0.5s;
    position: absolute;
    overflow-y: scroll;
    padding: 0px;
    left: -300px !important;
    margin-top: 5px;
    background-color: #F4F4F4;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    cursor: context-menu;
}

.fas:hover {
    color: #9c9c9c;
}

.content{
    padding: 20px;
    color: black;
    vertical-align: middle;
    text-align: left;
}

.gry{
    background-color: #F4F4F4;
}

.top{
    color: black;
    padding: 10px
}

.display{
    position: relative;
}

.cont{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;

}

.cont:empty{
    display: none;
}

.stick{
    text-align: center;
    display: block;
    font-size: 50pt;
    padding-top: 70px;
    padding-left: 80px
}

.stick:hover{
    color: black;
}

.cent{
    text-align: center;
    display: block;
}

.sec{
    padding: 10px 5px;
    background-color: #F4F4F4;
    transition: 0.5s;
}

.profCont{
    padding-left: 10px;
}

.profile{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 50px;
    float: left;
}

.txt{
    vertical-align: top;
    font-size: 1rem;
    padding: 1px 1px 0px 80px;
}

.sub{
    font-size: 0.7rem;
    color: grey;
}

.new{

  background-color: rgba(0, 164, 10, 0.07);
}

.sec:hover{
    background-color: #f0f0f0;
}
.btn
{
    transition: color 0.5s ease;
    outline-style: unset;
}


