@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Main
	3.3 Main Navigation
	3.4 Page Menu
4. Home
5. Single product
6. Recently Viewed
7. Brands
8. Newsletter
9. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #f5f5f5;
	color: #000000;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 400;
	color: #828282;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{

}
p::selection
{

}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
.form-control
{
	color: #000000;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
    justify-content: space-around !important;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;

}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	display: inline-block;
	background: #0e8ce4;
	border-radius: 5px;
	height: 48px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 35px;
}
.button:hover
{
	opacity: 0.8;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.rating_r i::before
{
	font-family: 'FontAwesome';
	content: "\f006";
	font-style: normal;
	font-size: 19px;
	margin-right: 4px;
	color: #f5e211;
}
.rating_r_1 i:first-child::before{content: "\f005";}
.rating_r_2 i:first-child::before{content: "\f005";}
.rating_r_2 i:nth-child(2)::before{content: "\f005";}
.rating_r_3 i:first-child::before{content: "\f005";}
.rating_r_3 i:nth-child(2)::before{content: "\f005";}
.rating_r_3 i:nth-child(3)::before{content: "\f005";}
.rating_r_4 i:first-child::before{content: "\f005";}
.rating_r_4 i:nth-child(2)::before{content: "\f005";}
.rating_r_4 i:nth-child(3)::before{content: "\f005";}
.rating_r_4 i:nth-child(4)::before{content: "\f005";}
.rating_r_5 i:first-child::before{content: "\f005";}
.rating_r_5 i:nth-child(2)::before{content: "\f005";}
.rating_r_5 i:nth-child(3)::before{content: "\f005";}
.rating_r_5 i:nth-child(4)::before{content: "\f005";}
.rating_r_5 i:nth-child(5)::before{content: "\f005";}

/*********************************
3. Header
*********************************/
.header
{
    position: relative;
    width: 100%;
    z-index: 10;
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
    width: 100%;
    height: 56px;
    background: #fafafa;
    border-bottom: solid 1px rgba(0,0,0,0.05);
    z-index: 2;
}
.header.scrolled .top_bar
{
    display: none;
}
.top_bar_contact
{
    display: inline-block;
}
.top_bar_contact_item
{
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    margin-right: 40px;
}
.top_bar_contact_item:not(:first-child)
{
    margin-right: 0px;
}
.top_bar_contact_item a
{
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.top_bar_contact_item a:hover
{
    color: #8a8a8a;
}
.top_bar_contact_item:last-child
{
    margin-right: 0px;
}
.top_bar_icon
{
    display: inline-block;
    margin-right: 12px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}
.top_bar_menu
{
    display: inline-block;
}

.top_bar_dropdown li
{
    padding-left: 13px;
    padding-right: 13px;
}
.standard_dropdown li
{
    display: inline-block;
    position: relative;
    height: 56px;
}
.standard_dropdown li li
{
    display: block;
    width: 80%;
}
.standard_dropdown li li a
{
    display: block;
    width: 100%;
    border-bottom: solid 1px #f2f2f2;
    font-size: 16px;
}
.standard_dropdown li:last-child a
{
    border-bottom: none;
}
.standard_dropdown li.hassubs > a i
{
    display: inline-block;
    margin-left: 5px;
}
.standard_dropdown li a
{
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 56px;
    white-space: nowrap;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.standard_dropdown li a:hover
{
    color: #0e8ce4;
}
.standard_dropdown li a i
{
    display: none;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
    font-size: 12px;
}
.standard_dropdown li ul
{
    display: block;
    position: absolute;
    top: 120%;
    left: 0;
    width: auto;
    visibility: hidden;
    opacity: 0;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}
.standard_dropdown li:hover > ul
{
    top: 100%;
    visibility: visible;
    opacity: 1;
}
.standard_dropdown ul ul
{
    left: 100%;
    top: 0 !important;
}
.top_bar_user
{
    display: inline-block;
    margin-left: 35px;
}
.user_icon
{
    display: inline-block;
    margin-right: 7px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    width: 15px;
}
.user_icon img
{
    width: 100%;
}
.top_bar_user div
{
    display: inline-block;
}
.top_bar_user div:nth-child(2)
{
    margin-right: 21px;
}
.top_bar_user div:nth-child(2)::after
{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -13px;
    width: 1px;
    height: 17px;
    background: rgba(0,0,0,0.1);
    content: '';
}
.top_bar_user a
{
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.top_bar_user a:hover
{
    color: #8a8a8a;
}

/*********************************
3.2 Header Main
*********************************/


.header_main
{
    z-index: 1;
    background-color: #eff6fa;
}
.header.scrolled .header_main
{
    display: none;
}
.header_main_item
{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header_search
{
    height: 175px;
}
.header_search_content
{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header_search_form_container
{
    width: 100%;
    height: 50px;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 0px 10px 10px 0px;
}
.header_search_form
{
    width: 100%;
    height: 100%;
}
.header_search_input
{
    display: block;
    position: relative;
    width: calc((100% - 50px) * 0.601);
    height: 100%;
    line-height: 50px;
    border: none !important;
    outline: none !important;
    padding-left: 26px;
    color: rgba(0,0,0,0.9);
    float: left;
}
.header_search_input::-webkit-input-placeholder
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input:-moz-placeholder /* older Firefox*/
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input::-moz-placeholder /* Firefox 19+ */
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input:-ms-input-placeholder
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input::placeholder
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.custom_dropdown
{
    width: calc((100% - 50px) * 0.399);
    height: 50px;
    float: left;
    padding-left: 26px;
    text-align: left!important;
}
.custom_dropdown::before
{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 32px;
    background: #969696;
    content: '';
}
.custom_dropdown_list i
{
    display: inline-block;
    color: rgba(0,0,0,0.5);
    text-shadow: 0.1px 0.1px #000;
    font-size: 10px;
    margin-left: 3px;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
}
.custom_dropdown_placeholder
{
    font-size: 16px;
    font-weight: 500;
    color: #5a5a5a;
    line-height: 48px;
    cursor: pointer;

}

.custom_list
{
    text-align: left;
    position: absolute;
    width: 115%;
    padding: 0;
    top: 75px;
    left: -25px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: all 0.2s ease;

}
.custom_list.active
{
    visibility: visible;
    opacity: 1;
    top: 50px;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.custom_list li
{
    font-size: 16px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000 !important;
    background-color: #ffffff;
    position: relative;

}
.custom_list li a
{
    display: block;
    color: rgba(0,0,0,0.65);
    line-height: 35px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.custom_list li a:hover
{
    color: #0e8ce4;
}
select
{
    display: inline;
    border: 0;
    width: auto;
    margin-left: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 2px solid #555;
    color: #7b00ff;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
select:hover
{
    cursor: pointer;
}
select option
{
    border: 0;
    border-bottom: 1px solid #555;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.header_search_button
{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: #0e8ce4;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wishlist_cart
{
    height: 175px;
}
.wishlist
{
    margin-right: 50px;
}
.wishlist_icon img
{
    width: 100%;
}
.wishlist_content
{
    margin-left: 14px;
}
.wishlist_text a
{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.wishlist_text a:hover
{
    color: #0e8ce4;
}
.wishlist_count
{
    margin-top: -2px;
    color: #a3a3a3;
    font-size: 14px;
}
.cart_count
{
    position: absolute;
    bottom: -1px;
    right: -14px;
    width: 23px;
    height: 23px;
    background: #0e8ce4;
    border-radius: 50%;
    text-align: center;
}
.cart_count span
{
    display: block;
    line-height: 23px;
    font-size: 12px;
    color: #FFFFFF;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
}

.cart_icon img
{
    width: 100%;
}
.cart_content
{
    margin-left: 28px;
}
.cart_text a
{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.cart_text a:hover
{
    color: #0e8ce4;
}
.cart_price
{
    font-size: 14px;
    color: #a3a3a3;
    margin-top: -2px;
}

/*********************************
3.3 Main Navigation
*********************************/
.main_nav
{
    width: 100%;
    border-top: solid 1px #f2f2f2;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    background: #FFFFFF;
}
.header.scrolled .main_nav
{
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.main_nav_content
{
    width: 100%;
    height: 60px;

}
.cat_menu_container
{
    width: 293px;
    height: 100%;
    background: #0e8ce4;
    padding-left: 35px;
    cursor: pointer;
    z-index: 1;
}
.cat_menu_title
{
    height: 100%;
}
.cat_burger
{
    width: 18px;
    height: 14px;
}
.cat_burger span
{
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
}
.cat_burger span:nth-child(2)
{
    top: 6px;
}
.cat_burger span:nth-child(3)
{
    top: 12px;
}
.cat_menu_text
{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 20px;
}
.cat_menu_container ul
{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    min-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.cat_menu_container > ul
{
    padding-top: 13px;
}
.cat_menu_container:hover .cat_menu
{
    visibility: visible;
    opacity: 1;
}
.cat_menu li
{
    display: block;
    position: relative;
    width: auto;
    height: 46px;
    border-bottom: solid 1px #f2f2f2;
    padding-left: 35px;
    padding-right: 30px;
    white-space: nowrap;
}
.cat_menu li.hassubs > a i
{
    display: block;
}
.cat_menu li a
{
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 46px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.cat_menu li a:hover
{
    color: #0e8ce4;
}
.cat_menu li a i
{
    display: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    font-size: 12px;
}
.cat_menu li ul
{
    display: block;
    position: absolute;
    top: 35px;
    left: 100%;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}
.cat_menu li:hover > ul
{
    top: 0;
    visibility: visible;
    opacity: 1;
}
.main_nav_dropdown li
{
    margin-right: 35px;
}
.main_nav_dropdown li:last-child
{
    margin-right: 0px;
}
.main_nav_dropdown li a
{
    font-size: 18px;
    font-weight: 400;
    color: #a19a9a;
    line-height: 60px;
}
.main_nav_dropdown li li
{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0px;
}
.menu_trigger_container
{
    display: none;
    width: auto;
    height: 100%;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
}
.menu_trigger
{
    height: 100%;
}
.menu_burger_inner
{
    display: inline-block;
}
.menu_trigger_text
{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 16px;
}

/*********************************
3.4 Page Menu
*********************************/

.page_menu
{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.page_menu_content
{
    height: 0px;
    background: #0e8ce4;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.page_menu_search
{
    display: none;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.page_menu_search_input
{
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: none;
    outline: none;
    padding-left: 25px;
}
.page_menu_nav
{
    padding-top: 15px;
}
.page_menu_item
{
    display: block;
    position: relative;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    vertical-align: middle;
}
.page_menu_item > a
{
    display: block;
    color: #FFFFFF;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.page_menu_item > a:hover
{
    color: #b5aec4;
}
.page_menu_item a i
{
    display: none;
    margin-left: 8px;
}
.page_menu_item.has-children > a > i
{
    display: inline-block;
}
.page_menu_selection
{
    margin: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    z-index: 1;
}
.page_menu_selection li
{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}
.page_menu_selection li a
{
    display: block;
    color: #FFFFFF;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.page_menu_selection li a:hover
{
    color: #b5aec4;
}
.page_menu_selection li:last-child a
{
    border-bottom: none;
}
.menu_contact_item
{
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    line-height: 56px;
    margin-right: 40px;
    color: #FFFFFF;
}
.menu_contact_item:not(:first-child)
{
    margin-right: 0px;
}
.menu_contact_item a
{
    font-size: 12px;
    font-weight: 300;
    line-height: 56px;
    color: #FFFFFF;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: alcl 200ms ease;
}
.menu_contact_item a:hover
{
    color: #8a8a8a;
}
.menu_contact_item:last-child
{
    margin-right: 0px;
}
.menu_contact_icon
{
    display: inline-block;
    margin-right: 14px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}


/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
	height: 260px;
	background: transparent;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #cde4f1;
	background: linear-gradient(#FFFFFF, #cde4f1);
	opacity: 0.9;
}
.home_content
{
	width: 100%;
	height: 100%;
}

/*********************************
5. Single product
*********************************/

.single_product
{
	padding-top: 110px;
	padding-bottom: 140px;
}
.image_list li
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 165px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	margin-bottom: 15px;
	cursor: pointer;
	padding: 15px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	overflow: hidden;
}
.image_list li:last-child
{
	margin-bottom: 0;
}
.image_list li:hover
{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.image_list li img
{
	max-width: 100%;
}
.image_selected
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100% + 15px);
	height: 525px;
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	-ms-transform: translateX(-15px);
	-o-transform: translateX(-15px);
	transform: translateX(-15px);
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	overflow: hidden;
	padding: 15px;
}
.image_selected img
{
	max-width: 100%;
}
.product_description
{
padding: 10px;
}
.product_category
{
	font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
	color: #df565f;
}
.product_name
{
	font-size: 25px;
	font-weight: 500;
	margin: 30px 0px;
}
.product_rating
{
    margin-bottom: 35px;
}
.product_rating i
{
	margin-right: 4px;
}
.product_rating i::before
{
	font-size: 15px;
}
.product_text
{
	padding-top: 10px;
}
.product_text p:last-child
{
	margin-bottom: 25px;
}
.qun_price
{
    margin: 35px 0px;
    justify-content: space-between;
    width: 100%;
}
.product_quantity
{
    height: 50px;
	border: solid 1px #b4b4b4;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
    margin: 0;
    padding: 0;
}
.product_color
{
    width: 100%;
    margin: 0;
    height: 50px;
    border: solid 1px #c8c8c8;
    border-radius: 5px;
    background: rgba(252, 252, 252, 0.39);
    text-align: center !important;
}
.product_color span
{
    display: block;
    height: 50px;
    font-size:20px;
    font-weight: 400;
    color: #000;
    line-height: 50px;
}

input[type=number]::-webkit-inner-spin-button {
   font-size: 50px;
}
.product_quantity span
{
    width:60% !important;
	display: block;
	height: 50px;
	font-size: 18px;
	font-weight: 400;
	color: rgba(0,0,0,0.9);
	line-height: 50px;
	float: left;
    padding-left: 10px;
}
.product_quantity input
{
    width:40% !important;
	display: block;
	height: 50px;
	border: none;
	outline: none;
	font-size: 18px;
	font-weight: 500;
	color: rgba(0,0,0,0.7);
	text-align: left;
	line-height: 50px;
    background-color: transparent;

}
.quantity_buttons
{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 29px;
	border-left: solid 1px #e5e5e5;
}
.quantity_inc,
.quantity_dec
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50%;
	cursor: pointer;
}
.quantity_control i
{
	font-size: 11px;
	color: rgba(0,0,0,0.3);
	pointer-events: none;
}
.quantity_control:active
{
	border: solid 1px rgba(14, 140, 228, 0.2);
}
.quantity_inc
{
	padding-bottom: 2px;
	justify-content: flex-end;
	border-top-right-radius: 5px;
}
.quantity_dec
{
	padding-top: 2px;
	justify-content: flex-start;
	border-bottom-right-radius: 5px;
}

.product_price
{
	display: inline-block;
	font-size: 26px;
    padding:15px 0;
}

.button_container
{
    padding: 0;
}
.button_container button
{
    cursor: pointer;
    height: 50px;
}
.button_container button:focus,.button_container button:active
{
    outline-style: none !important;
}
.cart_button
{
	display: inline-block;
	border: none;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 35px;
	outline: none;
	cursor: pointer;
}
.cart_button:focus
{
	outline: none;
}
.product_fav
{
	display: inline-block;
	width: 36px;
	height: 36px;
	background: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	margin-left: 36px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_fav:hover
{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.product_fav i
{
	line-height: 36px;
	color: #cccccc;
}
.product_fav.active i
{
	color: #df3b3b;
}

/*********************************
6. Recently Viewed
*********************************/

.viewed
{
	padding-top: 51px;
	padding-bottom: 60px;
	background: #eff6fa;
}
.viewed_title_container
{
	border-bottom: solid 1px #dadada;
}
.viewed_title
{
	margin-bottom: 14px;
}
.viewed_nav_container
{
	position: absolute;
	right: -5px;
	bottom: 14px;
}
.viewed_nav
{
	display: inline-block;
	cursor: pointer;
}
.viewed_nav i
{
	color: #dadada;
	font-size: 18px;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.viewed_nav:hover i
{
	color: #606264;
}
.viewed_prev
{
	margin-right: 15px;
}
.viewed_slider_container
{
	padding-top: 50px;
}
.viewed_item
{
	width: 100%;
	background: #FFFFFF;
	border-radius: 8px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}
.viewed_image
{
	width: 115px;
	height: 115px;
}
.viewed_image img
{
	display: block;
	max-width: 100%;
}
.viewed_content
{
	width: 100%;
	margin-top: 25px;
}
.viewed_price
{
	font-size: 16px;
	color: #000000;
	font-weight: 500;
}
.viewed_item.discount .viewed_price
{
	color: #df3b3b;
}
.viewed_price span
{
	position: relative;
	font-size: 12px;
	font-weight: 400;
	color: rgba(0,0,0,0.6);
	margin-left: 8px;
}
.viewed_price span::after
{
	display: block;
	position: absolute;
	top: 6px;
	left: -2px;
	width: calc(100% + 4px);
	height: 1px;
	background: #8d8d8d;
	content: '';
}
.viewed_name
{
	margin-top: 3px;
}
.viewed_name a
{
	font-size: 14px;
	color: #000000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.viewed_name a:hover
{
	color: #0e8ce4;
}
.item_marks
{
	position: absolute;
	top: 18px;
	left: 18px;
}
.item_mark
{
	display: none;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: 500;
	line-height: 36px;
	text-align: center;
}
.item_discount
{
	background: #df3b3b;
	margin-right: 5px;
}
.item_new
{
	background: #0e8ce4;
}
.viewed_item.discount .item_discount
{
	display: inline-block;
}
.viewed_item.is_new .item_new
{
	display: inline-block;
}

/*********************************
7. Brands
*********************************/

.brands
{
	width: 100%;
	padding-top: 90px;
	padding-bottom: 90px;
}
.brands_slider_container
{
	height: 130px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	padding-left: 97px;
	padding-right: 97px;
}
.brands_slider
{
	height: 100%;
}
.brands_item
{
	height: 100%;
}
.brands_item img
{
	max-width: 100%;
}
.brands_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 5px;
	cursor: pointer;
}
.brands_nav i
{
	color: #e5e5e5;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.brands_nav:hover i
{
	color: #676767;
}
.brands_prev
{
	left: 40px;
}
.brands_next
{
	right: 40px;
}

/*********************************
8. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #fafafa;
	padding-top: 60px;
	padding-bottom: 60px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}
.newsletter_container
{
	width: 100%;
}
.newsletter_title_container
{
	width: 40%;
	padding-left: 95px;
}
.newsletter_icon
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}
.newsletter_title
{
	font-size: 18px;
	color: #000000;
}
.newsletter_text p:last-child
{
	margin-bottom: 0;
}
.newsletter_icon img
{
	max-width: 100%;
}
.newsletter_content
{
	width: 60%;
}
.newsletter_form
{
	position: relative;
	width: 569px;
	float: left;
}
.newsletter_input
{
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	padding-left: 25px;
	font-size: 16px;
	outline: none;
	color: #0e8ce4;
}
.newsletter_input:focus
{
	border: solid 1px rgba(14, 140, 228, 0.3);
	box-shadow: 0px 1px 5px rgba(14, 140, 228, 0.3);
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_input:-moz-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_input::-moz-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_input:-ms-input-placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_input::placeholder
{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 153px;
	height: 50px;
	background: #0e8ce4;
	color: #FFFFFF;
	line-height: 50px;
	font-size: 18px;
	border: none;
	outline: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}
.newsletter_button:hover
{
	opacity: 0.8;
}
.newsletter_unsubscribe_link
{
	float: right;
	text-align: right;
	height: 50px;
}
.newsletter_unsubscribe_link a
{
	font-size: 10px;
	color: #0e8ce4;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 50px;
}
.newsletter_unsubscribe_link a:hover
{
	color: #0d82d3;
}

/*********************************
9. Footer
*********************************/

.footer
{
	padding-top: 52px;
	padding-bottom: 40px;
}
.footer .logo_container
{
	height: auto;
	margin-bottom: 18px;
	margin-top: -10px;
}
.footer .logo
{
	top: auto;
	-webkit-transform:  none;
    -moz-transform: none;
    -ms-transform:  none;
    -o-transform:  none;
    transform: none;
}
.footer .logo a
{
	color: #000000;
}
.footer_title
{
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}
.footer_phone
{
	font-size: 18px;
	font-weight: 500;
	color: #0e8ce4;
	margin-top: 13px;
}
.footer_contact_text
{
	margin-top: 10px;
}
.footer_contact_text p
{
	margin-bottom: 0px;
}
.footer_social
{
	margin-top: 10px;
}
.footer_social ul li
{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #fafafa;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	margin-right: 16px;
	text-align: center;
}
.footer_social ul li i
{
	color: #000000;
	line-height: 30px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li:hover i
{
	color: #0e8ce4;
}
.footer_subtitle
{
	font-size: 12px;
	color: #000000;
}
.footer_column ul:first-of-type
{
	margin-top: 21px;
}
.footer_column ul
{
	margin-top: 7px;
}
.footer_list li
{
	margin-bottom: 6px;
}
.footer_list li a
{
	font-size: 12px;
	font-weight: 500;
	color: rgba(0,0,0,0.4);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_list li a:hover
{
	color: #0e8ce4;
}
.footer_list_2
{
	margin-top: 42px !important;
}

.copyright
{
	width: 100%;
	background: #fafafa;
}
.copyright_container
{
	width: 100%;
	height: 56px;
}
.copyright_content
{
	font-size: 12px;
	color: rgba(0,0,0,0.6);
}
.copyright_content span
{
	font-weight: 500;
}
.logos
{

}
.logos_list li
{
	display: inline-block;
	margin-right: 16px;
}
.logos_list li:last-child
{
	margin-right: 0px;
}
.container-info
{
    max-height: available;
}
.container-information
{
    max-height: available;
    border: 1px #dadee5  solid;;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.15);
}
.container-personaliser
{
    max-height: available;
    border: 1px #9b9ea3 solid;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(236, 255, 245, 0.33);
    box-shadow: 0 1px 2px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.15);
}
.container-perso
{
    max-height: available;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.15);
}
.panier_title
{
    font-size: 20px;
    padding: 15px 20px;
    border: 1px #dadee5  solid;
    margin: 0;
    background-color: #ffffff;
    font-weight: 500;

}
.deals_item_name
{
    color: #000;
}
.deals_item {
    padding: 0px !important;
}
.char_icon i
{
    font-size: 18px;
    padding-right: 10px;
    color: #28a745;

}
.site-header__title
{
    font-family: "Maiandra GD" !important;
    font-size: 48px;
}
.main-content__checkmark
{
    font-size: 128px;
    color: #28a745;
    background-color: #f0fae7;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.10), 0 2px 5px rgba(0,0,0,0.18);

}
.num_commande
{
    font-family: 'Rubik', sans-serif ;
    font-size: 20px;
    color: #515151;
    margin: 10px;
}
.num_commande span
{
    color: #1ba736;
}
.bestsellers_price
{
    font-weight: 500;
}
.deals_timer_title
{
    opacity: 0.9;
    font-size: 16px;
}

.etapes_title {
    font-size: 19px;
    padding-left: 10px;
    font-weight: 500;
}
.char_icon p
{
    font-size: 15px;
    color: #000;
    padding: 10px;
    text-align: justify;
}
.list-group-item
{
    padding: 15px;
    border-radius: 0!important;
}
.dealer_total
{
    padding-left: 10px;
    font-size: 16px ;
    font-weight: 500;
    text-transform: uppercase;
    color: #7a7a7a;
}
.quantity_e
{
    font-size: 13px;
   margin-left: 5px;
}
.total_price
{
    padding-right: 5px;
}
.list-group
{
    background-color: #ffffff;
}

.custom-select
{
    margin-left: 0;
}
.wizard-progress {
    display: flex;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin: 20px 0;

}
.wizard-progress .step {
    display: flex;
    flex-direction:column;
    text-align: center;
    vertical-align: top;
    overflow: visible;
    position: relative;
    font-size: 13px;
    color: rgba(81, 81, 81, 0.4);

}
.wizard-progress .step:not(:last-child):before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 12px;
    background: #dadada;
    height: 10px;
    width: 100%;
}
.wizard-progress .step .node {
     display: inline-block;
     border:1px solid #b4b4b4;
     background: #f1f1f1;
     border-radius: 50%;
     height: 30px;
     width: 30px;
     margin: 0 auto 15px;
     line-height:30px;
     position: relative;
     z-index: 1;
 }
.wizard-progress .step.current .node {

    border:1px solid #bfbfbf;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1), 0 3px 4px rgba(0,0,0,0.1);
}

.wizard-progress .step.complete .node:before{
    content:"";
    width:10px;
    background-color:#17a2b8;
    opacity: 0.8;
    display:block;
    position:absolute;
    border-radius:50%;
    margin:auto;
    left:0;
    top:0;
    right:0;
    bottom:0;
    height:10px;
}
.wizard-progress .step.complete {
    color: #0e8ce4;
    font-weight: 500;
    font-size: 16px;
}
.wizard-progress .step.complete:before {
    height: 10px;
    background: linear-gradient(to left, #a0ddff 50%,  #0e8ce4 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 0.3s ease-out;
}
.wizard-progress .step.current:before {
    /*background-color: #e7361b;*/
    height: 10px;
    background: linear-gradient(to right, #0e8ce4 50%, #a0ddff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;

}

.wizard-progress .step.complete .node ,.wizard-progress .step.complete .carre{
    border-color: #0e8ce4;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #0e8ce4;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15), 0 3px 6px rgba(0,0,0,0.1);
    outline-style: none;
}
.step.complete .carre:active,.carre:active
{
    background-color: #0e8ce4;
    border-radius: 4px;
    color: white;
    font-size:19px;
    font-weight: 600;
    border: unset;
    outline-style: none;
}
.wizard-progress .step.complete .node:before {
    content: "✔";
    color:#ffffff;
    height:auto;
    width:auto;
    background-color: #0e8ce4;

}
.wizard-progress .step .current .node:before{
    opacity: 0.8;

}
.carre
{
    display: inline-block;
    border:1px solid #b4b4b4;
    background: #f1f1f1;
    height: 40px;
    width: 40px;
    margin: 0 auto 15px;
    line-height:40px;
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    outline-style: none;
    cursor: pointer;
}
.carre:before
{
    color:#ffffff;
    height:auto;
    width:auto;
    opacity: 0.8;

}
.wizard-progress .current{
    color: #7fbcff;
    font-weight: 500;

}
.wizard-progress .current .carre{
   background: #a0ddff;
    font-weight: 500;
    outline-style: none;
}
.button_login
{
    border-radius: 5px;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    font-family:'Rubik', sans-serif;
    font-size: 18px;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.23),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.20),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    color: #fff3cd;
    background-color: #e7361b;
    outline-style: none !important;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 38px;
    padding-right: 40px;
    position: relative;
    display: inline-block;
    border: none;
}
.button_login:hover
{
    background-color: rgb(226, 33, 6);
    cursor: pointer;
}

.checkmark {
    width: 200px;
    margin: 0 auto;
}

.check
{
    stroke-dasharray: 110;
    stroke-dashoffset: -110;
    stroke-width: 15;
}

.check-complete
{
    -webkit-animation: check 1s ease-in forwards;
    animation: check 1s ease-in forwards;
    stroke-width: 16;
    stroke-dashoffset: 0;
}
.fill
{
    stroke-dasharray: 285;
}

.fill-complete
{
    -webkit-animation: fill 0.8s ease-out forwards;
    animation: fill 0.8s ease-out forwards;
}


@-webkit-keyframes check {
    0% {
        stroke-dashoffset: -110;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes check {
    0% {
        stroke-dashoffset: -110;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


@-webkit-keyframes fill {
    0% {
        stroke-dashoffset: 285;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    0% {
        stroke-dashoffset: 285;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.success
{
    stroke: #28a745;
    transition: stroke .1s;

}


/*user dropdown */
.profile-dropdown {
    display: inline-block;
    position: relative;
    margin: auto;
    font-size: 1.1rem;
    height: 3.5rem;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
.profile-dropdown * {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
.profile-dropdown input[type="checkbox"] {
    display: none;
}
.profile-dropdown input[type="checkbox"]:checked ~ ul {
    display: block;
    animation: pulse 0.5s;
}
.profile-dropdown input[type="checkbox"]:checked ~ img {
    background: #fe6146;
}
.profile-dropdown input[type="checkbox"]:checked ~ label {
    background: #fe6146;
}
.profile-dropdown input[type="checkbox"]:checked ~ label i {
    color: #f2f2f2;
}
.profile-dropdown img {
    display: inline-block;
    background: #d9d9d9;
    height: 2.5rem;
    vertical-align: middle;
    margin: 0.21rem 0.3rem 1.5rem 0.5rem;
    border-radius: 50%;

}
.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.2rem;
    width: 100px;
    color: #8a8a8a;
    padding-top: 15px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 0;
    marrgin: 0;
    background: #fff;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    border-radius: 3px;
}
.profile-dropdown ul li a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: #737373;
    height: 50px;
    font-size: 0.9rem;
}
.profile-dropdown ul li a span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height:0px;
    background-color: #1e7e34;
    text-decoration: none;
    color: #fff3cd;
    font-size: 10px;

}
.profile-dropdown ul li a i {
    font-size: 1.2rem;
    vertical-align: middle;
    margin: 0 0.75rem 0.5rem -0.25rem;
}
.profile-dropdown ul li a:hover {
    background: #e5e5e5;
}
.profile-dropdown ul li:first-child a:hover {
    border-radius: 3px 3px 0 0;
}
.profile-dropdown ul li:last-child a:hover {
    border-radius: 0 0 3px 3px;
}
.profile-dropdown > label {
    position: relative;
    height: 3.5rem;
    display: block;
    text-decoration: none;
    background: transparent;
    color: #333;
    box-sizing: border-box;
    padding: 0.8rem;
    float: right;
    border-radius: 0 3px 3px 0;
}
.profile-dropdown > label i {
    color: #b2b2b2;
    font-size: 1.75rem;
}
.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}
.requis
{
    line-height: 30px;
    color: #bf1e1c;
    font-weight: 500;
    font-size: 18px;
}
label
{
    font-size: 16px;
}
.btn-primary
{
    outline-style: none;
}
/*drop down notification */
.notification{
    position: relative;
    display: inline-block;
}
.notification i{
    font-size: 24px;
    padding: 12px;
    color: #737373;
}
.number{
    height: 20px;
    width:  20px;
    background-color: #fe4852;
    border-radius: 22px;
    color: white;
    text-align: center;
    position: absolute;
    top: 5px;
    left:20px;
    padding: 1px;
    border: 1px #fe4852 solid;
}
.number:empty {
    display: none;
}
.notBtn{
    transition: 0.5s;
    cursor: pointer
}

.box{
    width: 400px;
    height: 60vh;
    border-radius: 5px;
    transition: 0.5s;
    position: absolute;
    overflow-y: scroll;
    padding: 0px;
    left: -300px !important;
    margin-top: 5px;
    background-color: #F4F4F4;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    cursor: context-menu;
}

.fas:hover {
    color: #9c9c9c;
}

.content{
    padding: 20px;
    color: black;
    vertical-align: middle;
    text-align: left;
}

.gry{
    background-color: #F4F4F4;
}

.top{
    color: black;
    padding: 10px
}

.display{
    position: relative;
}

.cont{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;

}

.cont:empty{
    display: none;
}

.stick{
    text-align: center;
    display: block;
    font-size: 50pt;
    padding-top: 70px;
    padding-left: 80px
}

.stick:hover{
    color: black;
}

.cent{
    text-align: center;
    display: block;
}

.sec{
    padding: 10px 5px;
    background-color: #F4F4F4;
    transition: 0.5s;
}

.profCont{
    padding-left: 10px;
}

.profile{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 50px;
    float: left;
}

.txt{
    vertical-align: top;
    font-size: 1rem;
    padding: 1px 1px 0px 80px;
}

.sub{
    font-size: 0.7rem;
    color: grey;
}

.new{

    background-color: rgba(0, 164, 10, 0.07);
}

.sec:hover{
    background-color: #f0f0f0;
}

.btn
{
    transition: color 0.5s ease;
    outline-style: unset;
}
/***************************
**************guide*********
***************************/
.guide
{
    padding: 75px 10px;
    width: 100%;
    margin: auto;
    background: rgba(247, 247, 247, 0.26);

}
.guide-title
{
    text-align: center;

    padding-bottom: 75px;

}
.guide-title h1
{
    font-weight: 400;
}
.step
{
    width: 100%;
}
.etap
{
    padding-top: 20px;
    text-justify: distribute-center-last;
}
.etap h2
{
    margin-bottom: 32px;
}
.etap p
{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);

}
.etap ul
{
    list-style: decimal;
    padding-left: 50px;
    padding-right:20px;
    padding-bottom: 40px;
    text-align: justify;
}
.etap ul li
{

    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);

}
.etap .passer
{
    padding-top: 15px;
    margin:auto;

}
.etap .passer button
{
    width:100% ;
    margin:auto;
    padding-right: 10px;
    cursor: pointer;
}
.etap .passer button i
{
   font-size: 14px;
    padding-left: 5px;
}
.img-shipped {
    margin: auto;
}
.img-shipped img
{
    padding: 0 50px;
}
.etap ul div img:hover
{
    cursor: zoom-in;
}
.etap ul div img:active
{
    cursor: zoom-in;
}

.nav-pills
{
    width: 100%;
    margin: auto;
    background: #0e8ce4;
    padding: 0!important;
}
.nav-item
{
    width:20%;
    padding: 10px;
}
.nav-link
{
    text-align: center;
    width: 100%;
    height: 100%;
    letter-spacing: 0.01em;
    transition: 0.3s;
    font-weight: 400;
    font-size: 18px;
    font-weight: 400;
    color: #f2f2f2;
    text-transform: uppercase;
    border-radius: 5px !important;
}
.nav-link:hover
{
    color: rgba(255, 255, 255, 0.66) !important;
    font-weight: 500!important;
    transition: 0.2s;
}
.nav-item .active
{
  background-color: #f3f7ff!important;
    border: 2px #fff3cd solid;
    border-radius: unset!important;
    color: #000 !important ;
    font-weight: 600!important;
    border-radius: 5px !important;
}
.question-reponse
{
    background: #ffffff;
}
.collapsed
{
    color: black;
    cursor: pointer;
}

.card-header
{
    background: #eaeaea;
}
.card-header:hover
{
    background: rgba(133, 153, 167, 0.45);
}



